/* @tailwind base; */
@import './reset';

a,
a:active,
a:visited {
    color: var(--el-primary-color);
}

a:hover {
    // color: var(--el-primary-color-hover);
    color: #409eff;
}

:root {
    --link-color: #42b983;
}

// Header.vue 中的元素
.drop_down_view {
    .el-switch__label {
        width: 5em;
        text-align: left;
    }
}
